<table class="table table-striped table-bordered">
  <thead class="thead-dark">
        <tr>
            <th>Matrícula</th>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Área</th>
            <th>Universidad</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let revisor of listaRevisores.getRevisores()">
            <td>{{ revisor.matricula}}</td>
            <td>{{ revisor.nombre }}</td>
            <td>{{ revisor.apellidos }}</td>
            <td>{{ revisor.area }}</td>
            <td>{{ revisor.universidad }}</td>
        </tr>
    </tbody>
</table>