.btn {
    position: absolute;
  }
  
  nav {
    background-color:  #800080; /* Color de fondo */
    /* Otros estilos, como padding, margen, bordes, etc., pueden ser definidos aquí según sea necesario */
  }
  .nav-link {
    color: white;
  }
  