<!--<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
      <button
        data-mdb-collapse-init
        class="navbar-toggler"
        type="button"
        data-mdb-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <a class="navbar-brand mt-2 mt-lg-0" href="#">
          <img
            src="https://th.bing.com/th/id/R.a7d89305088308529e23e36f25eaee3a?rik=dftGZhdQaKkICQ&riu=http%3a%2f%2funiversidadesdemexico.mx%2flogos%2foriginal%2flogo-universidad-del-papaloapan.webp&ehk=VNMdbb%2b8AkDo3stlpzLZpLO6zGxEm%2bknzo9WAtWJyGc%3d&risl=&pid=ImgRaw&r=0"
            height="60"
            alt="MDB Logo"
            loading="lazy"
          />
        </a>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="#">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Tesistas</a>
          </li>
        </ul>
      </div>
      <div class="d-flex align-items-center">
        <a class="link-secondary me-3" href="#">
          <i class="fas fa-shopping-cart"></i>
        </a>
  
        <div class="dropdown">
          <a
            data-mdb-dropdown-init
            class="link-secondary me-3 dropdown-toggle hidden-arrow"
            href="#"
            id="navbarDropdownMenuLink"
            role="button"
            aria-expanded="false"
          >
            <i class="fas fa-bell"></i>
            <span class="badge rounded-pill badge-notification bg-danger">1</span>
          </a>
          <ul
            class="dropdown-menu dropdown-menu-end"
            aria-labelledby="navbarDropdownMenuLink"
          >
            <li>
              <a class="dropdown-item" href="#">Some news</a>
            </li>
            <li>
              <a class="dropdown-item" href="#">Another news</a>
            </li>
            <li>
              <a class="dropdown-item" href="#">Something else here</a>
            </li>
          </ul>
        </div>
        <div class="dropdown">
          <a
            data-mdb-dropdown-init
            class="dropdown-toggle d-flex align-items-center hidden"
            href="#"
            id="navbarDropdownMenuAvatar"
            role="button"
            aria-expanded="false"
          >
            <img
              src="https://th.bing.com/th/id/R.6ceb1d8685f9d16f1ce2388df9d7bef4?rik=fci5tXMh5D%2beSQ&pid=ImgRaw&r=0"
              class="rounded-circle"
              height="50"
              alt="Black and White Portrait of a Man"
              loading="lazy"
            />
          </a>
          <ul
            class="dropdown-menu dropdown-menu-end"
            aria-labelledby="navbarDropdownMenuAvatar"
          >
            <li>
              <a class="dropdown-item" href="#">My profile</a>
            </li>
            <li>
              <a class="dropdown-item" href="#">Settings</a>
            </li>
            <li>
              <a class="dropdown-item" href="#">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>-->
  <!-- Navbar-------------------------------------------------------------------------------------------------------------------- 
  <div class="row">
    <div class="col-xl-6 mb-4">
      <div class="card">
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center">
              <div class="ms-3">
                <p class="fw-bold mb-1">John Doe</p>
                <p class="text-muted mb-0">john.doegmail.com</p>
              </div>
            </div>
            <span class="badge rounded-pill badge-success">Active</span>
          </div>
        </div>
        <div
          class="card-footer border-0 bg-body-tertiary p-2 d-flex justify-content-around"
        >
          <a
            class="btn btn-outline-secondary"
            style="left:500px ; top: 25px;"
            href="#"
            role="button"
            data-ripple-color="primary"
            data-mdb-ripple-init
            >Mensaje<i class="fas fa-envelope ms-2"></i
          ></a>
          <a
            class="btn btn-outline-secondary"
            style="left:700px; top: 25px;"
            href="#"
            role="button"
            data-ripple-color="primary"
            data-mdb-ripple-init
            >Mensaje a Jefatura<i class="fas fa-phone ms-2"></i
          ></a>
        </div>
      </div>
    </div>
    <div class="col-xl-6 mb-4">
      <div class="card">
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center">
              <div class="ms-3">
                <p class="fw-bold mb-1">Alex Ray</p>
                <p class="text-muted mb-0">alex.raygmail.com</p>
              </div>
            </div>
            <span class="badge rounded-pill badge-primary">Onboarding</span>
          </div>
        </div>
        <div
          class="card-footer border-0 bg-body-tertiary p-2 d-flex justify-content-around"
        >
          <a
            class="btn btn-outline-secondary"
            style="left:500px ; top: 25px;"
            href="#"
            role="button"
            data-ripple-color="primary"
            data-mdb-ripple-init
            >Mensaje<i class="fas fa-envelope ms-2"></i
          ></a>
          <a
            class="btn btn-outline-secondary"
            style="left:700px; top: 25px;"
            href="#"
            role="button"
            data-ripple-color="primary"
            data-mdb-ripple-init
            >Mensaje a Jefatura<i class="fas fa-phone ms-2"></i
          ></a>
        </div>
      </div>
    </div>
    <div class="col-xl-6 mb-4">
      <div class="card">
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center">
              <div class="ms-3">
                <p class="fw-bold mb-1">Kate Hunington</p>
                <p class="text-muted mb-0">kate.huningtongmail.com</p>
              </div>
            </div>
            <span class="badge rounded-pill badge-warning">Awaiting</span>
          </div>
        </div>
        <div
          class="card-footer border-0 bg-body-tertiary p-2 d-flex justify-content-around"
        >
          <a
            class="btn btn-outline-secondary"
            style="left:500px ; top: 25px;"
            href="#"
            role="button"
            data-ripple-color="primary"
            data-mdb-ripple-init
            >Mensaje<i class="fas fa-envelope ms-2"></i
          ></a>
          <a
            class="btn btn-outline-secondary"
            style="left:700px; top: 25px;"
            href="#"
            role="button"
            data-mdb-ripple-init
            data-mdb-ripple-color=""
            >Mensaje a Jefatura<i class="fas fa-phone ms-2"></i
          ></a>
        </div>
      </div>
    </div>
    <div class="col-xl-6 mb-4">
      <div class="card">
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center">
              <div class="ms-3">
                <p class="fw-bold mb-1">Michael Bale</p>
                <p class="text-muted mb-0">michael.balegmail.com</p>
              </div>
            </div>
            <span class="badge rounded-pill badge-danger">Removed</span>
          </div>
        </div>
        <div
          class="card-footer border-0 bg-body-tertiary p-2 d-flex justify-content-around"
        >
          <a
            class="btn btn-outline-secondary"
            style="left:500px ; top: 25px;"
            href="#"
            role="button"
            data-ripple-color="primary"
            data-mdb-ripple-init
            >Mensaje<i class="fas fa-envelope ms-2"></i
          ></a>
          <a
            class="btn btn-outline-secondary"
            style="left:700px; top: 25px;"
            href="#"
            role="button"
            data-ripple-color="primary"
            data-mdb-ripple-init
            >Mensaje a Jefatura<i class="fas fa-phone ms-2"></i
          ></a>
        </div>
      </div>
    </div>
  </div>-->
  <app-nav-menu></app-nav-menu>
  <app-tabla-alumnos></app-tabla-alumnos>
  