<nav class="navbar">
  <div
    class="container"
    style="
  display: flex;
  justify-content: center;
  align-items: center;"
  >
    <a class="navbar-brand" href="https://www.unpa.edu.mx/">
      <img
        src="https://www.unpa.edu.mx/images/suneo/unpa.jpg"
        width="30"
        height="30"
        alt="Logo"
      />
    </a>
    <h1>Revision de Tesis</h1>
  </div>
</nav>
<div class="contenedor-documento">
    <!-- Contenido del documento -->
    <iframe src="documento.pdf" width="100%" height="100%" frameborder="0"></iframe>
  {{id}}
  </div>
  <div class="contenedor-chat">
    <!-- Chat -->
    <div class="chat">
        <!-- Contenido del chat -->
    </div>
  </div>