@if(isModalActive){
<div class="modal">

	<div class="modal-content">
		<div class="chat-container">
			<button class="modal-close is-large" aria-label="close" (click)="close()">✖</button>
			<div class="chat-header">
				<h4>Chat
				</h4>
				<p>{{ chatHeader }}</p>
			</div>
			<div class="chat-messages">
				@for(message of messages; track message){
				<div [ngClass]="{'sent': message.sender === currentUser, 'received': message.sender !== currentUser}"
					class="chat-message">
					<div class="message-bubble">
						{{ message.text }}
					</div>
				</div>
				}

			</div>
			<div class="chat-input-container">
				<input [(ngModel)]="newMessage" type="text" class="chat-input" placeholder="Escribe un mensaje...">
				<button (click)="sendMessage()" class="send-button" title="Enviar mensaje">
					<i class="fas fa-paper-plane"></i>
				</button>
			</div>

		</div>
	</div>

</div>
}