
<div style="background-color: rgba(255, 255, 255, 0.8);">
<h2>Lista de Tesistas</h2>
<table class="table table-striped table-bordered">
  <thead class="thead-dark">
    <tr>
      <th>Matricula</th>
      <th>Nombre del Tesista</th>
      <th>Tesis</th>
      <th>Carrera</th>
      <th>Notificaciones</th>
      
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let tesista of lista.getTesistas()">
      <td (click)="navigateToProgreso(tesista.id)">{{ tesista.id }}</td>
      <td (click)="navigateToProgreso(tesista.id)">{{ tesista.nombre }}</td>
      <td (click)="navigateToRevisarTesis(tesista.id)">{{ tesista.tesis }}</td>
      <td (click)="navigateToRevisarTesis(tesista.id)">{{ tesista.carrera }}</td>
      <td [style.background-color]="tesista.notificacion ? 'green' : 'red'" (click)="navigateToProgreso(tesista.id)">
        {{ tesista.notificacion }}
      </td>
    </tr>
    
  </tbody>
</table>

</div>