<nav class="navbar">
  <div
    class="container"
    style="
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(21, 133, 75);"
  >
    <a class="navbar-brand" href="https://www.unpa.edu.mx/">
      <img
        src="https://www.unpa.edu.mx/images/suneo/unpa.jpg"
        width="30"
        height="30"
        alt="Logo"
      />
    </a>
    <h1>Revision de Tesis</h1>
  </div>
</nav>
<div style="background-color: rgba(255, 255, 255, 0.8);">
<h2>Lista de Alumnos</h2>
<table class="table table-striped table-bordered">
  <thead class="thead-dark">
    <tr>
      <th>Id</th>
      <th>Nombre del Tesista</th>
      <th>Tesis</th>
      <th>Carrera</th>
      <th>Notificaciones</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    @for(tesista of listaUsers.users; track tesista.id){
    <tr>
      <td>{{ tesista.id }}</td>
      <td>{{ tesista.nombre }}</td>
      <td>{{ tesista.tesis }}</td>
      <td>{{ tesista.carrera }}</td>
      <td [style.background-color]="tesista.notificacion ? 'green' : 'red'">
        {{ tesista.notificacion }}
      </td>
      <td>
        <a class="btn btn-primary" routerLink="/revisarTesis/{{ tesista.id }}">Ver</a>
      </td>
    </tr>
    }
  </tbody>
</table>

</div>