<nav class="navbar">
  <div
    class="container"
    style="
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: green;"
  >
    <a class="navbar-brand" href="https://www.unpa.edu.mx/">
      <img
        src="https://www.unpa.edu.mx/images/suneo/unpa.jpg"
        width="30"
        height="30"
        alt="Logo"
      />
    </a>
    <h1>Revision de Tesis</h1>
  </div>
</nav>
<div style="background-color: rgba(255, 255, 255, 0.5);">
<h2>Lista de Alumnos</h2>
<table>
  <thead>
    <td>Id</td>
    <td>Nombre del Tesista</td>
    <td>Tesis</td>
    <td>Carrera</td>
    <td>Nofificaciones</td>
  </thead>
  <tbody>
    @for(tesista of listaUsers.users; track tesista.id){
    <tr>
      <td>{{ tesista.id }}</td>
      <td>{{ tesista.nombre }}</td>
      <td>{{ tesista.tesis }}</td>
      <td>{{ tesista.carrera }}</td>
      <td [style.background-color]="tesista.notificacion ? 'green' : 'red'">
        {{ tesista.notificacion }}
      </td>
      <td>
        
          <button><a routerLink="/revisarTesis/1">Ver</a></button>
        
      </td>
    </tr>

    }
  
  </tbody>

</table>
</div>