<div class="column1">
    <div class="chat-header">
        <select class="form-select custom-select" title="Selecciona un estado de tareas" id="selectEstado"
            name="selectEstado">
            <option value="tareas">Tareas</option>
            <option class="btn-danger" value="Atrasado">Atrasado</option>
            <option class="btn-warning" value="En Proceso">En Proceso</option>
            <option class="btn-success" value="Completo">Completado</option>
        </select>
    </div>
    <div class="table-responsive">
        <table class="table table-dark table-striped">
            <thead>
                <tr>
                    <th scope="col">Actividad</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Fecha Límite</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tr>
                <td><input title="Actividad" type="text" id="actividad_input"></td>
                <select title="Estado" id="estado_select">
                    <option value="En curso" selected>En curso</option>
                    <option value="Completado">Completado</option>
                    <option value="Pendiente">Pendiente</option>
                </select>
                <td><input title="limite" type="date" id="fecha_limite_input"></td>
                <th><button (click)="agregarTarea()">Agregar Tarea</button></th>
            </tr>
            <tbody id="listaTareas">
                @for(tarea of listaTareas.getTareas();track tarea.id){
                <tr>
                    <td>{{ tarea.actividad }}</td>
                    <td>{{ tarea.estado }}</td>
                    <td colspan="2">{{ tarea.fecha}}</td>
                </tr>
                }

            </tbody>
        </table>
    </div>
</div>