.column1 {
    flex: 1;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    background-color: lightblue;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
.clickable-cell {
    cursor: pointer;
}

.popup {
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    padding: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

th,
td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}
.chat-header {
    background-color: #075e54;
    color: #fff;
    padding: 10px 20px;
    font-size: 18px;
    text-align: center;
}