<div class="column1">
    <form [formGroup]="form" (ngSubmit)="agregarTarea()">
        <div class="chat-header">
            <select title="FiltroEstado" class="form-select bg-dark text-white border-black"
                formControlName="filtroEstado">
                <option class="btn btn-outline-primary" value="Tareas">Tareas</option>
                <option class="btn btn-outline-info" value="En curso">En curso</option>
                <option class="btn btn-outline-success" value="Completado">Completado</option>
                <option class="btn btn-outline-warning" value="Pendiente">Pendiente</option>
            </select>
        </div>
        <div class="table-responsive">
            <table class="table table-dark table-striped">
                <thead>
                    <tr>
                        <th scope="col">Actividad</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Fecha Inicial</th>
                        <th scope="col">Fecha Límite</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tr>
                    <td><input title="Actividad" type="text" class="form-control" formControlName="actividad"></td>
                    <td>
                        <select title="Estado" class="form-control" formControlName="estado">
                            <option value="En curso" selected>En curso</option>
                            <option value="Completado">Completado</option>
                            <option value="Pendiente">Pendiente</option>
                        </select>
                    </td>
                    <td><input title="Fecha Inicial" type="date" class="form-control" formControlName="fecha_inicial">
                    </td>
                    <td><input title="Fecha Límite" type="date" class="form-control" formControlName="fecha_limite">
                    </td>
                    <th><button type="submit" class="btn btn-primary">Agregar Tarea</button></th>
                </tr>

                <tbody id="listaTareas">
                    @for(tarea of tareas;track tarea.id){

                    <tr>
                        <td class="clickable-cell" (click)="openModal(tarea.id)">{{ tarea.actividad }}</td>
                        <td>{{ tarea.estado }}</td>
                        <td>{{ tarea.fechaInicial.toString().split("T")[0] }}</td>
                        <td>{{ tarea.fechaLimite.toString().split("T")[0] }}</td>
                        <td><button type="button" class="btn btn-warning"
                                (click)="actualizarTarea(tarea.id||0 )">Actualizar</button></td>
                    </tr>
                    }
                </tbody>


            </table>

        </div>
    </form>
</div>

@if(tareaId){
<app-detalles-tareas [tareaId]="tareaId"></app-detalles-tareas>
}