<div class="container mt-5" style="background-color: white; border-radius: 1rem 1rem 1rem 1rem;">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <br><br>
            <div class="d-flex align-items-center mb-3 pb-1">
                <img src="https://www.unpa.edu.mx/images/unpa_large.png" alt="Logo UNPA" class="me-3"
                    style="width: 600px; height: 100px; object-fit: cover;">
                <!--<span class="h1 fw-bold mb-0">UNIVERSIDAD DEL PAPALOAPAN</span>-->
            </div>
            <div id="formulario1" class="formulario">
                <h3>Registrar Tesista</h3>
                <div class="container-fluid">
                    <div class="container">
                        <div class="row">
                            <div class="mx-auto cf-container">
                                <form [formGroup]="registroForm" (ngSubmit)="registrarTesista()">
                                    <div class="cf-cover">
                                        <div class="form-row row">
                                            <div class="col-md-12">
                                                <label>Matricula</label>
                                                <input formControlName="matricula" type="text" required
                                                    placeholder="Introducir Matricula" class="form-control">
                                            </div>
                                        </div>
                                        <div class="form-row row">
                                            <div class="col-md-6">
                                                <label>Nombre</label>
                                                <input formControlName="nombre" type="text" required
                                                    placeholder="Introducir Nombre" class="form-control">
                                            </div>
                                            <div class="col-md-6">
                                                <label>Apellidos</label>
                                                <input formControlName="apellidos" type="text" required
                                                    placeholder="Introducir Apellidos" class="form-control">
                                            </div>
                                        </div>
                                        <div class="form-row row">
                                            <div class="col-md-12">
                                                <label>Campus</label>
                                                <select title="Campus" formControlName="campus" #selectorCampus id="selectorCampus"
                                                    class="form-select mb-3">
                                                    <option value="campus1">Loma Bonita</option>
                                                    <option value="campus2">Tuxtepec</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-row row">
                                            <div class="col-md-12">
                                                <label>Carrera</label>
                                                <select title="Carreras" formControlName="carrera" #campus1 id="campus1"
                                                    class="campus form-select mb-3">
                                                    <option value="Computacion">Ing. en Computacion</option>
                                                    <option value="Disenio">Ing. en Diseño</option>
                                                    <option value="Agricola">Ing. Agricola Tropical</option>
                                                    <option value="Acuicultura">Ing. en Acuicultura</option>
                                                    <option value="Mecatronica">Ing. en Mecatronica</option>
                                                    <option value="Zootecnia">Lic. en Zootecnia</option>
                                                    <option value="Matematicas">Lic. en Matematicas Aplicadas</option>
                                                </select>
                                                <select formControlName="carrera" #campus2 id="campus2"
                                                    class="campus form-select mb-3" style="display: none;">
                                                    <option value="Alimentos">Ing. en Alimentos</option>
                                                    <option value="Empresariales">Lic. en Ciencias Empresariales
                                                    </option>
                                                    <option value="Quimica">Lic. en Ciencias Quimicas</option>
                                                    <option value="Biotecnologia">Ing. en Biotecnologia</option>
                                                    <option value="Enfermeria">Lic. en Enfermeria</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-row row">
                                            <div class="col-md-12">
                                                <label>Titulo de Tesis</label>
                                                <input formControlName="tituloTesis" type="text" required
                                                    placeholder="Introducir el Titulo" class="form-control">
                                            </div>
                                        </div>
                                        <div class="form-row row">
                                            <div class="col-md-12">
                                                <label>Director de Tesis</label>
                                                <input formControlName="directorTesis" type="text" required
                                                    placeholder="Introducir Nombre del Director de Tesis"
                                                    class="form-control">
                                            </div>
                                        </div>
                                        <div class="form-row row">
                                            <div class="col-md-12">
                                                <label>Co-Director de Tesis</label>
                                                <input formControlName="codirectorTesis" type="text"
                                                    placeholder="Introducir Nombre del Co-Director de Tesis"
                                                    class="form-control">
                                            </div>
                                        </div>
                                        <div class="form-row row">
                                            <div class="col-md-12">
                                                <label>Correo Electronico</label>
                                                <input formControlName="correoElectronico" type="email" required
                                                    placeholder="Introducir Correo Electronico" class="form-control">
                                            </div>
                                        </div>
                                        <div class="form-row row">
                                            <div class="col-md-12">
                                                <label>Contraseña</label>
                                                <input formControlName="contrasena" id="password" required
                                                    type="password" placeholder="Introducir Contraseña"
                                                    class="form-control">
                                            </div>
                                        </div>
                                        <div class="form-row row">
                                            <div class="col-md-12">
                                                <label>Confirmar Contraseña</label>
                                                <input formControlName="confirmarContrasena" id="confirm_password"
                                                    required type="password" placeholder="Confirmar Contraseña"
                                                    class="form-control">
                                            </div>
                                        </div>
                                        <br><br>
                                        <div class="form-row row">
                                            <div class="col-md-12">
                                                <button id="submitBtn" routerLink="/tabla" class="btn btn-primary w-100"
                                                    type="submit">Registrar</button>
                                            </div>
                                        </div>
                                        <br><br>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>