 #general1 {
     height: 100%;
     margin: 0;
     padding: 0;
 }

 .carousel-item img {
     height: 220px;
     width: 225px;
     
 }

 .carousel {
     position: absolute;
     top: 5px;
     right: 5px;
     width: 225px;
    height: 220px;

 }

 .info-container {
     position: absolute;
     top: 250px;
     left: 55px;
     margin-top: 15px;
     height: 60%;
 }

 .info-container p {

     padding: 15px;
     color: black;
 }

 .info-box {
     background-color: rgba(255, 255, 255, 0.6);
     border-radius: 20px;
 }

 #botones a {
     position: absolute;
     left: 50%;
     transform: translateX(-50%);
     width: 150px;
     top: 155px;
 }