<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="close()"></button>
            </div>
            <div class="modal-body">
                <form class="needs-validation was-validated bg-light-subtle" [formGroup]="form" (ngSubmit)="submit()">
                    <input title="titulo" type="text" class="form-control" id="txtTitulo" 
                        formControlName="titulo">
                    <input title="estado" type="text" class="form-control" id="txtEstado" 
                        formControlName="estado">
                    <input title="descripcion" type="text" class="form-control" id="txtDescripcion" 
                        formControlName="descripcion">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>